.navbar {
  input {
    border-radius: 40px;
  }
  
  .nav-item {
    margin-left: 20px;

    img {
      border-radius: 50%;
      margin-top: 8px;
      height: 35px;
    }
  }

  .navbar-brand img {
    max-height: 23px;
  }

  .nav-link {
    opacity: 0.6;
    transition: 0.2s;

    i {
      margin-top: 5px;
    }

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
}