.text-area {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;

    &__header {
      margin: 40px 0 0;

      @include placeholder-color($light-grey-1);

      input {
        border: none;
        font-size: 36px;
        font-family: 'Slabo 27px', serif;
      }

      input:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }
    
    &__input {
      height: 100%;
      padding: 20px 12px;
    }

    &__code-block {
        // Code block styles go here
    }
}